.main-padding {
  padding: 25px 100px;

  @media (max-width: 1400px) {
    padding: 25px 25px;
  }
}

.with-logo {
  height: 90px;
}

.position-button {
  height: 48px;
}

.logo-position {
  padding-left: 60px;
  @media (max-width: 767px) {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    text-align: center;
  }
}

.search-input {
  flex-direction: column;
  width: 100%;
}

.form-control {
  height: 48px;
}

.green-button {
  height: 48px;
}

.swiper-slide {
  flex-shrink: unset;
}

.first-carousel-caption {
  position: absolute;
  bottom: 145px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.second-carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 145px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.third-carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 145px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carusel-font {
  font-size: 60px;
  line-height: 1.2;
  color: white;
  font-weight: 600;
}

.text-light-green {
  color: #47b272;
}

a:hover {
  color: #348e58;
}

:host .main-img {
  @media (max-width: 767px) {
    padding-top: 100px;
  }
}

.inner-wrapper .main-page .top-nav {
  @media (max-width: 767px) {
    position: relative;
    top: 0px;
    right: 0px;
    margin-bottom: 15px;
  }
}

.loggedin-main-img {
  @media (max-width: 767px) {
    padding-top: 0px !important;
  }
}