<ng-container *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</ng-container>

<div class="inner-wrapper">
    <div class="container-fluid no-padding">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="main-banner">
                    <img src="assets/img/banner/banner-3.jpg" [ngClass]="{'loggedin-main-img': isLoggedIn()}" class="img-fluid full-width main-img" alt="banner">
                    <ng-container *ngIf="!isLoggedIn()">
                        <div class="overlay-2 main-padding logo-position">
                            <a routerLink="/">
                                <img src="assets/logo/with_logo2.png" class="img-fluid with-logo" alt="logo">
                            </a>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-2 main-page main-padding">
                    <ng-container *ngIf="!isLoggedIn()">
                        <div class="top-nav">
                            <h5><a routerLink="/login" class="text-light-green fw-700">Bejelentkezés</a></h5>
                            <h5><a routerLink="/registration" class="text-light-green fw-700">Regisztráció</a></h5>
                        </div>
                    </ng-container>
                    <div class="login-box">
                        <form [formGroup]="searchForm">
                            <div class="col-12 pl-0 pr-0">
                                <h1 class="text-light-black fw-700">Fedezze fel szuper éttermeinket</h1>
                                <div class="input-group row">
                                    <div class="input-group2 col-xl-8">
                                        <div class="search-input">
                                            <input type="number" class="form-control form-control-submit"
                                                formControlName="search" placeholder="Keresés irányítószám alapján..."
                                                min="1000" max="9999"
                                                [class.is-invalid]="searchForm.controls.search.invalid && searchForm.controls.search.touched">
                                            <div *ngIf="(searchForm.controls.search.invalid && searchForm.controls.search.touched) || searchForm.controls.search.dirty"
                                                class="text-right">
                                                <small
                                                    *ngIf="searchForm.controls.search.errors?.min || searchForm.controls.search.errors?.max"
                                                    class="text-danger">Kérjük adjon meg egy valós irányítószámot</small>
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                            <button class="input-group-text text-light-green"><i
                                                    class="fab fa-telegram-plane"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="input-group-append col-xl-4">
                                        <button class="green-button full-width" type="button"
                                            [disabled]="!searchForm.valid" (click)="searchByZip()">Keresés</button>
                                    </div>
                                </div>
                                <div class="form-group text-center mt-3 mb-3"> <span>vagy</span></div>
                                <button type="button" class="green-button position-button full-width"
                                    (click)="searchByLocation()">Keresés jelenlegi
                                    pozíció alapján</button>
                                <ng-container *ngIf="currentPositionErrorMessage">
                                    <div class="col-12 text-center">
                                        <small class="text-danger">{{currentPositionErrorMessage}}</small>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
