<ngb-carousel>
    <ng-template ngbSlide>
        <div>
            <img src="assets/img/about/blog/1920x700/banner-1.jpg" class="img-fluid full-width" alt="First slide">
        </div>
        <div class="first-carousel-caption">
            <h3 class="carusel-font">First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/img/about/blog/1920x700/banner-2.jpg" class="img-fluid full-width" alt="Second slide">
        </div>
        <div class="second-carousel-caption">
            <h3 class="carusel-font">Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/img/about/blog/1920x700/banner-3.jpg" class="img-fluid full-width" alt="Third slide">
        </div>
        <div class="third-carousel-caption">
            <h3 class="carusel-font">Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>

<section class="browse-cat u-line section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header-left">
                    <h3 class="text-light-black header-title title">Böngészés konyha szerint <span class="fs-14"><a href="restaurant.html">Összes étterem megtekintése</a></span></h3>
                </div>
            </div>
            <div class="col-12">
                <div class="category-slider swiper-container">
                    <div class="d-flex">
                        <div class="swiper-slide">
                            <a href="restaurant.html" class="categories">
                                <div class="icon text-custom-white bg-light-green ">
                                    <img src="assets/img/restaurants/125x125/cuisine-1.jpg" class="rounded-circle" alt="categories">
                                </div> <span class="text-light-black cat-name">Olasz</span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="restaurant.html" class="categories">
                                <div class="icon text-custom-white bg-light-green ">
                                    <img src="assets/img/restaurants/125x125/cuisine-3.jpg" class="rounded-circle" alt="categories">
                                </div> <span class="text-light-black cat-name">Kínai</span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="restaurant.html" class="categories">
                                <div class="icon text-custom-white bg-light-green ">
                                    <img src="assets/img/restaurants/125x125/cuisine-4.jpg" class="rounded-circle" alt="categories">
                                </div> <span class="text-light-black cat-name">Mexikói</span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="restaurant.html" class="categories">
                                <div class="icon text-custom-white bg-light-green ">
                                    <img src="assets/img/restaurants/125x125/cuisine-8.jpg" class="rounded-circle" alt="categories">
                                </div> <span class="text-light-black cat-name">Amerikai</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>