.logo {
  height: 30px !important;
}

[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #47b272;
  vertical-align: middle;
  margin-right: 5px;
  color: white;
}

.address {
  cursor: pointer;
}

.cat-product-box {
  .price {
    width: 100px;
    text-align: center;
  }
}

.cart-trash {
 cursor: pointer;
}

.restaurant-name {
  color: #47b272;
  margin-bottom: 0px;
  text-align: center;
}