<div class="header">
    <header class="full-width">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mainNavCol">
                    <!-- logo -->
                    <div class="logo mainNavCol">
                        <a routerLink="/">
                            <img src="../../assets/logo/with_logo3.png" class="img-fluid logo" alt="Logo" />
                        </a>
                    </div>
                    <!-- logo -->
                    <div class="main-search mainNavCol">
                        <form class="main-search search-form full-width">
                            <div class="row">
                                <!-- location picker -->
                                <div class="col-lg-6 col-md-5">
                                    <a *ngIf="!isLoginPage()" class="delivery-add p-relative"
                                        (click)="toggleLocationPopup()"> <span class="icon"><i
                                                class="fas fa-map-marker-alt"></i></span>
                                        <span *ngIf="zip && city" class="address">{{zip}}, {{city}}</span>
                                        <span *ngIf="!zip || !city" class="address">Helyszín</span>
                                    </a>
                                    <ng-container *ngIf="isLocationPopupShow">
                                        <form [formGroup]="locationForm" *ngIf="locationForm"
                                            (keydown)="submitByEnterButton($event)">
                                            <div class="location-picker">
                                                <input type="number" class="form-control" formControlName="location"
                                                    min="1000" max="9999"
                                                    [class.is-invalid]="locationForm.controls.location.invalid && locationForm.controls.location.touched"
                                                    placeholder="Új irányítószám megadása">
                                                <div *ngIf="(locationForm.controls.location.invalid && locationForm.controls.location.touched) || locationForm.controls.location.dirty"
                                                    class="text-right">
                                                    <small
                                                        *ngIf="locationForm.controls.location?.min || locationForm.controls.location.errors?.max"
                                                        class="text-danger">Kérjük adj meg egy valós
                                                        irányítószámot</small>
                                                </div>
                                            </div>
                                        </form>
                                    </ng-container>
                                </div>
                                <!-- location picker -->
                            </div>
                        </form>
                    </div>

                    <ng-container *ngIf="isLoggedIn()">
                        <div class="right-side fw-700 mainNavCol">
                            <!-- user account -->
                            <div appClickOutside class="user-details p-relative" (clickOutside)="closeUserSettings()" (click)="toggleUserSettingsShow()">
                                <div class="text-light-white fw-500">
                                    <span [attr.data-letters]="nameForAvatar">Hello, {{loggedInUserName}}</span>
                                </div>
                                <div class="user-dropdown" [ngClass]="{'show': isUserSettingsShow}">
                                    <ul>
                                        <li>
                                            <a href="order-details.html">
                                                <div class="icon"><i class="flaticon-rewind"></i>
                                                </div> <span class="details">Régebbi rendeléseim</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="order-details.html">
                                                <div class="icon"><i class="flaticon-takeaway"></i>
                                                </div> <span class="details">Rendeléseim folyamatban</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="icon"><i class="flaticon-user"></i>
                                                </div> <span class="details">Beállítások</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="icon"><i class="flaticon-board-games-with-roles"></i>
                                                </div> <span class="details">Segítség</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="user-footer"><a class="cursor-pointer"
                                            (click)="logout()">Kijelentkezés</a>
                                    </div>
                                </div>
                            </div>

                            <!-- user cart -->
                            <div appClickOutside *ngIf="order && restaurant" class="cart-btn cart-dropdown" (clickOutside)="closeCart()" (click)="toggleCartShow()">
                                <a class="text-light-green fw-700"> <i class="fas fa-shopping-bag"></i>
                                    <span class="user-alert-cart">{{orderAmount}}</span>
                                </a>
                                <div class="cart-detail-box" [ngClass]="{'show': isCartShow}">
                                    <div class="card">
                                        <div>
                                            <div class="card-header padding-15 text-center border-0 pb-0">Rendelése
                                                innen:
                                            </div>
                                            <p class="restaurant-name"><a>{{restaurantName}}</a></p>
                                        </div>
                                        <div class="card-header padding-15">Kosár</div>
                                        <div class="card-body no-padding cart-drop">
                                            <ng-container *ngFor="let menu of order.menu; let i = index">
                                                <div class="cat-product-box">
                                                    <div class="cat-product">
                                                        <div class="cat-name">
                                                            <a>
                                                                <p class="text-with cart-text mr-2">
                                                                    <span
                                                                        class="text-dark-white">{{menu.quantity}}</span>
                                                                    {{menu.mealName}}
                                                                    <ng-container *ngIf="menu.sideName">
                                                                        , {{menu.sideName}}
                                                                    </ng-container>
                                                                    <ng-container *ngIf="menu.drinkName">
                                                                        , {{menu.drinkName}}
                                                                    </ng-container>
                                                                </p>
                                                                <ng-container *ngIf="menu.extras.length > 0">
                                                                    <ng-container
                                                                        *ngFor="let extra of menu.extras; let i = index; let last = last">
                                                                        <span
                                                                            class="text-light-white cart-text-extras">{{extra.name}}</span>
                                                                        <span *ngIf="!last">, </span>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </a>
                                                        </div>
                                                        <div class="price">
                                                            <a class="text-dark-white fw-500">{{menu.totalPrice}} Ft</a>
                                                        </div>
                                                        <div class="delete-btn"
                                                            (click)="openOrderDeleteModal(orderItemDelete, menu)">
                                                            <a class="text-dark-white cart-trash">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngFor="let drink of order.drink; let i = index">
                                                <div class="cat-product-box">
                                                    <div class="cat-product">
                                                        <div class="cat-name">
                                                            <a>
                                                                <p class="text-with cart-text mr-2">
                                                                    <span
                                                                        class="text-dark-white">{{drink.quantity}}</span>
                                                                    {{drink.name}}
                                                                </p>
                                                            </a>
                                                        </div>
                                                        <div class="price">
                                                            <a class="text-dark-white fw-500">{{drink.totalPrice}}
                                                                Ft</a>
                                                        </div>
                                                        <div class="delete-btn"
                                                            (click)="openOrderDeleteModal(orderItemDelete, drink)">
                                                            <a class="text-dark-white cart-trash">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngFor="let side of order.side; let i = index">
                                                <div class="cat-product-box">
                                                    <div class="cat-product">
                                                        <div class="cat-name">
                                                            <a>
                                                                <p class="text-with cart-text mr-2">
                                                                    <span
                                                                        class="text-dark-white">{{side.quantity}}</span>
                                                                    {{side.name}}
                                                                </p>
                                                            </a>
                                                        </div>
                                                        <div class="price">
                                                            <a class="text-dark-white fw-500">{{side.totalPrice}} Ft</a>
                                                        </div>
                                                        <div class="delete-btn"
                                                            (click)="openOrderDeleteModal(orderItemDelete, side)">
                                                            <a class="text-dark-white cart-trash">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngFor="let meal of order.meal; let i = index">
                                                <div class="cat-product-box">
                                                    <div class="cat-product">
                                                        <div class="cat-name">
                                                            <a>
                                                                <p class="text-with cart-text mr-2">
                                                                    <span
                                                                        class="text-dark-white">{{meal.quantity}}</span>
                                                                    {{meal.mealName}}
                                                                    <ng-container *ngIf="meal.sideName">
                                                                        , {{meal.sideName}}
                                                                    </ng-container>
                                                                    <ng-container *ngIf="meal.drinkName">
                                                                        , {{meal.drinkName}}
                                                                    </ng-container>
                                                                </p>
                                                                <ng-container *ngIf="meal.extras.length > 0">
                                                                    <ng-container
                                                                        *ngFor="let extra of meal.extras; let i = index; let last = last">
                                                                        <span
                                                                            class="text-light-white cart-text-extras">{{extra.name}}</span>
                                                                        <span *ngIf="!last"> ,</span>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </a>
                                                        </div>
                                                        <div class="price">
                                                            <a class="text-dark-white fw-500">{{meal.totalPrice}} Ft</a>
                                                        </div>
                                                        <div class="delete-btn"
                                                            (click)="openOrderDeleteModal(orderItemDelete, meal)">
                                                            <a class="text-dark-white cart-trash">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngFor="let pizza of order.pizza; let i = index">
                                                <div class="cat-product-box">
                                                    <div class="cat-product">
                                                        <div class="cat-name">
                                                            <a>
                                                                <p class="text-with cart-text mr-2">
                                                                    <span
                                                                        class="text-dark-white">{{pizza.quantity}}</span>
                                                                    {{pizza.sizeName}} egyedi pizza
                                                                </p>
                                                                <div>
                                                                    <span
                                                                        class="text-light-white cart-text-extras">{{pizza?.doughName}},
                                                                    </span>
                                                                    <span
                                                                        class="text-light-white cart-text-extras">{{pizza?.baseName}}
                                                                    </span>
                                                                </div>
                                                                <div>
                                                                    <ng-container *ngIf="pizza.toppings.length > 0">
                                                                        <span
                                                                            class="text-light-white cart-text-extras">Feltét(ek):
                                                                        </span>
                                                                        <ng-container
                                                                            *ngFor="let topping of pizza.toppings; let i = index; let last = last">
                                                                            <span
                                                                                class="text-light-white cart-text-extras">{{topping.name}}</span>
                                                                            <span *ngIf="!last">, </span>
                                                                        </ng-container>
                                                                    </ng-container>
                                                                </div>
                                                                <div>
                                                                    <ng-container *ngIf="pizza.sauces.length > 0">
                                                                        <span
                                                                            class="text-light-white cart-text-extras">Szósz(ok):
                                                                        </span>
                                                                        <ng-container
                                                                            *ngFor="let sauce of pizza.sauces; let i = index; let last = last">
                                                                            <span
                                                                                class="text-light-white cart-text-extras">{{sauce.name}}</span>
                                                                            <span *ngIf="!last">, </span>
                                                                        </ng-container>
                                                                    </ng-container>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="price">
                                                            <a class="text-dark-white fw-500">{{pizza.totalPrice}}
                                                                Ft</a>
                                                        </div>
                                                        <div class="delete-btn"
                                                            (click)="openOrderDeleteModal(orderItemDelete, pizza)">
                                                            <a class="text-dark-white cart-trash">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <div class="item-total">
                                                <div *ngIf="totalPrice" class="total-price border-0"> <span
                                                        class="text-dark-white fw-700">Tételek
                                                        összesen:</span>
                                                    <span class="text-dark-white fw-700">{{totalPrice}} Ft</span>
                                                </div>
                                                <div class="empty-bag padding-15 fw-700">
                                                    <a (click)="resetOrder()"
                                                        class="empty-bag padding-15 fw-700 pl-0 cursor-pointer">Kosár
                                                        ürítése</a>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-container *ngIf="isLoggedIn() && order && totalPrice">
                                            <div class="card-footer padding-15">
                                                <button
                                                    class="btn-first green-btn text-custom-white full-width fw-500 with-btn"
                                                    [disabled]="!isMinimumOrderCompleted() || isRestaurantClosed()">
                                                    Tovább
                                                    a
                                                    fizetéshez
                                                </button>
                                                <div *ngIf="!isMinimumOrderCompleted()" class="text-center mt-2">
                                                    <small class="text-danger">Az étterem minimális rendelési értéke:
                                                        {{restaurant.minimumordervalue}} Ft</small>
                                                </div>
                                                <div *ngIf="isRestaurantClosed()" class="text-center mt-2">
                                                    <small class="text-danger">Az étterem jelenleg zárva van, ezért nem
                                                        lehetséges
                                                        rendelést leadni!</small>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <!-- user cart -->

                        </div>
                    </ng-container>
                </div>

                <div class="col-sm-12 mobile-search">
                    <div class="mobile-address">
                        <a href="#" class="delivery-add" data-toggle="modal" data-target="#address-box"> <span
                                class="address">2000, Szentendre</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<ng-template #orderItemDelete>
    <app-delete-order-modal [selectedOrderItem]="selectedOrderItem" (closeModal)="closeModal()"
        (deleteSelectedOrderItem)="deleteSelectedOrderItem($event)">
    </app-delete-order-modal>
</ng-template>