<div class="header">
    <header class="full-width">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mainNavCol">

                    <div class="logo mainNavCol">
                        <a routerLink="/">
                            <img src="../../assets/logo/with_logo3.png" class="img-fluid logo" alt="Logo" />
                        </a>
                    </div>

                    <div class="right-side fw-700 mainNavCol w-100 justify-content-end">
                        <div class="gem-points">
                            <a routerLink="/order"> <i class="fas fa-concierge-bell"></i>
                                <span>Rendelj most</span>
                            </a>
                        </div>
                        <div class="catring parent-megamenu">
                            <a href="#"> <span>Oldalak <i class="fas fa-caret-down"></i></span>
                                <i class="fas fa-bars"></i>
                            </a>
                            <div class="megamenu">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-5">

                                            </div>
                                            <div class="col-lg-8 col-md-7">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="menu-style">
                                                            <div class="menu-title">
                                                                <h6 class="cat-name"><a href="#"
                                                                        class="text-light-black">Home Pages</a></h6>
                                                            </div>
                                                            <ul>
                                                                <li><a href="index-2.html"
                                                                        class="text-light-white fw-500">Landing
                                                                        Page</a>
                                                                </li>
                                                                <li><a href="homepage-1.html"
                                                                        class="text-light-white fw-500">Home Page
                                                                        1</a>
                                                                </li>
                                                                <li><a href="homepage-2.html"
                                                                        class="text-light-white fw-500">Home Page
                                                                        2</a>
                                                                </li>
                                                                <li><a href="homepage-3.html"
                                                                        class="text-light-white fw-500">Home Page
                                                                        3</a>
                                                                </li>
                                                                <li class="active"><a href="homepage-4.html"
                                                                        class="text-light-white fw-500">Home Page
                                                                        4</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="menu-style">
                                                            <div class="menu-title">
                                                                <h6 class="cat-name"><a href="#"
                                                                        class="text-light-black">Inner Pages</a></h6>
                                                            </div>
                                                            <ul>
                                                                <li><a href="blog.html"
                                                                        class="text-light-white fw-500">Blog Grid
                                                                        View</a>
                                                                </li>
                                                                <li><a href="blog-style-2.html"
                                                                        class="text-light-white fw-500">Blog Grid
                                                                        View 2</a>
                                                                </li>
                                                                <li><a href="blog-details.html"
                                                                        class="text-light-white fw-500">Blog
                                                                        Details</a>
                                                                </li>
                                                                <li><a href="ex-deals.html"
                                                                        class="text-light-white fw-500">Ex Deals</a>
                                                                </li>
                                                                <li><a href="about.html"
                                                                        class="text-light-white fw-500">About Us</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="menu-style">
                                                            <div class="menu-title">
                                                                <h6 class="cat-name"><a href="#"
                                                                        class="text-light-black">Related Pages</a>
                                                                </h6>
                                                            </div>
                                                            <ul>
                                                                <li><a href="restaurant.html"
                                                                        class="text-light-white fw-500">restaurent</a>
                                                                </li>
                                                                <li><a href="restaurant-style-1.html"
                                                                        class="text-light-white fw-500">restaurent
                                                                        1</a>
                                                                </li>
                                                                <li><a href="restaurant-style-2.html"
                                                                        class="text-light-white fw-500">restaurent
                                                                        2</a>
                                                                </li>
                                                                <li><a href="add-restaurant.html"
                                                                        class="text-light-white fw-500">Add
                                                                        restaurent</a>
                                                                </li>
                                                                <li><a href="list-view.html"
                                                                        class="text-light-white fw-500">List
                                                                        View</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="menu-style">
                                                            <div class="menu-title">
                                                                <h6 class="cat-name"><a href="#"
                                                                        class="text-light-black">Additional
                                                                        Pages</a></h6>
                                                            </div>
                                                            <ul>
                                                                <li><a href="login.html"
                                                                        class="text-light-white fw-500">Login</a>
                                                                </li>
                                                                <li><a href="register.html"
                                                                        class="text-light-white fw-500">Sign-up</a>
                                                                </li>
                                                                <li><a href="checkout.html"
                                                                        class="text-light-white fw-500">Checkout</a>
                                                                </li>
                                                                <li><a href="order-details.html"
                                                                        class="text-light-white fw-500">Order
                                                                        Details</a>
                                                                </li>
                                                                <li><a href="geo-locator.html"
                                                                        class="text-light-white fw-500">Geo
                                                                        Locator</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="user-details p-relative">
                            <div class="text-light-white fw-500">
                                <img src="./../assets/img/user-1.png" class="rounded-circle" alt="userimg" /> <span class="ml-1">Hello,
                                    Kate</span>
                            </div>
                            <div class="user-dropdown">
                                <ul>
                                    <li>
                                        <a href="order-details.html">
                                            <div class="icon"><i class="flaticon-rewind"></i>
                                            </div> <span class="details">Past Orders</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="order-details.html">
                                            <div class="icon"><i class="flaticon-takeaway"></i>
                                            </div> <span class="details">Upcoming Orders</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="order-details.html">
                                            <div class="icon"><i class="flaticon-breadbox"></i>
                                            </div> <span class="details">Saved</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="order-details.html">
                                            <div class="icon"><i class="flaticon-gift"></i>
                                            </div> <span class="details">Gift cards</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="order-details.html">
                                            <div class="icon"><i class="flaticon-refer"></i>
                                            </div> <span class="details">Refer a friend</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="order-details.html">
                                            <div class="icon"><i class="flaticon-diamond"></i>
                                            </div> <span class="details">Perks</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="order-details.html">
                                            <div class="icon"><i class="flaticon-user"></i>
                                            </div> <span class="details">Account</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="order-details.html">
                                            <div class="icon"><i class="flaticon-board-games-with-roles"></i>
                                            </div> <span class="details">Help</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="user-footer"><a href="order-details.html">Kijelentkezés</a>
                                </div>
                            </div>
                        </div>

                        <div class="cart-btn cart-dropdown">
                            <a href="#" class="text-light-green fw-700"> <i class="fas fa-shopping-bag"></i>
                                <span class="user-alert-cart">3</span>
                            </a>
                            <div class="cart-detail-box">
                                <div class="card">
                                    <div class="card-header padding-15">Rendelésed</div>
                                    <div class="card-body no-padding">
                                        <div class="cat-product-box">
                                            <div class="cat-product">
                                                <div class="cat-name">
                                                    <a href="#">
                                                        <p class="text-light-green"><span
                                                                class="text-dark-white">1</span> Chilli Chicken</p>
                                                        <span class="text-light-white">small, chilli chicken</span>
                                                    </a>
                                                </div>
                                                <div class="delete-btn">
                                                    <a href="#" class="text-dark-white"> <i
                                                            class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="price"> <a href="#" class="text-dark-white fw-500">
                                                        $2.25
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cat-product-box">
                                            <div class="cat-product">
                                                <div class="cat-name">
                                                    <a href="#">
                                                        <p class="text-light-green"><span
                                                                class="text-dark-white">1</span> loaded cheese</p>
                                                        <span class="text-light-white">small, chilli chicken</span>
                                                    </a>
                                                </div>
                                                <div class="delete-btn">
                                                    <a href="#" class="text-dark-white"> <i
                                                            class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="price"> <a href="#" class="text-dark-white fw-500">
                                                        $2.25
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cat-product-box">
                                            <div class="cat-product">
                                                <div class="cat-name">
                                                    <a href="#">
                                                        <p class="text-light-green"><span
                                                                class="text-dark-white">1</span> Tortia Chicken</p>
                                                        <span class="text-light-white">small, chilli chicken</span>
                                                    </a>
                                                </div>
                                                <div class="delete-btn">
                                                    <a href="#" class="text-dark-white"> <i
                                                            class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                                <div class="price"> <a href="#" class="text-dark-white fw-500">
                                                        $2.25
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-total">
                                            <div class="total-price border-0"> <span
                                                    class="text-dark-white fw-700">Items subtotal:</span>
                                                <span class="text-dark-white fw-700">$9.99</span>
                                            </div>
                                            <div class="empty-bag padding-15"> <a href="#">Empty bag</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer padding-15"> <a href="checkout.html"
                                            class="btn-first green-btn text-custom-white full-width fw-500">Tovább a megrendeléshez</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
</div>