.registration-logo {
  height: 50px;
}

.sign-in-link {
  color: #47b272;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.sign-in-link:hover {
  color: #348e58;
}

.section-2,
.main-banner {
  height: unset;
}

.user-page .login-sec {
  position: relative;
  transform: none;
}

.user-page .login-sec .login-box {
  max-width: 750px;
}

.with-check:hover {
  background-color: white;
}

.main-padding {
  @media (max-width: 767px) {
    padding: 32px;
  }
}

:host .green-button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
