<div class="inner-wrapper">
    <div class="container-fluid no-padding">
        <div class="row no-gutters overflow-auto">
            <div class="col-12">
                <div class="section-2 user-page main-padding">
                    <div class="login-sec">
                        <div class="login-box text-left">
                            <ng-container *ngIf="registrationForm">
                                <form [formGroup]="registrationForm">
                                    <div class="form-group text-center mb-4">
                                        <a routerLink="/">
                                            <img src="assets/logo/with_logo3.png"
                                                class="img-fluid registration-logo text-center" alt="logo" />
                                        </a>
                                    </div>
                                    <h4 class="text-light-black fw-600 text-center">Regisztráció</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Vezetéknév</label>
                                                <input id="lastName" type="text" name="lastname"
                                                    formControlName="lastname"
                                                    [class.is-invalid]="registrationForm.controls.lastname.invalid && registrationForm.controls.lastname.touched"
                                                    class="form-control form-control-submit" placeholder="Vezetéknév">
                                                <div *ngIf="(registrationForm.controls.lastname.invalid && registrationForm.controls.lastname.touched) || registrationForm.controls.lastname.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.lastname.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small *ngIf="registrationForm.controls.lastname.errors?.minlength"
                                                        class="text-danger">Túl rövid vezetéknév</small>
                                                    <small *ngIf="registrationForm.controls.lastname.errors?.maxlength"
                                                        class="text-danger">Túl hosszú vezetéknév</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Keresztnév</label>
                                                <input id="firstname" type="text" name="firstname"
                                                    formControlName="firstname"
                                                    [class.is-invalid]="registrationForm.controls.firstname.invalid && registrationForm.controls.firstname.touched"
                                                    class="form-control form-control-submit" placeholder="Keresztnév">
                                                <div *ngIf="(registrationForm.controls.firstname.invalid && registrationForm.controls.firstname.touched) || registrationForm.controls.firstname.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.firstname.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small *ngIf="registrationForm.controls.firstname.errors?.minlength"
                                                        class="text-danger">Túl rövid keresztnév</small>
                                                    <small *ngIf="registrationForm.controls.firstname.errors?.maxlength"
                                                        class="text-danger">Túl hosszú keresztnév</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Jelszó</label>
                                                <input id="password" [type]="isPasswordVisible ? 'text' : 'password'"
                                                    name="password" formControlName="password"
                                                    class="form-control form-control-submit"
                                                    [class.is-invalid]="registrationForm.controls.password.invalid && registrationForm.controls.password.touched"
                                                    placeholder="Jelszó">
                                                <div (click)="toggleShowPassword()"
                                                    *ngIf="registrationForm.controls.password.valid"
                                                    [class]="isPasswordVisible ? 'fa fa-fw fa-eye-slash field-icon toggle-password' : 'fa fa-fw fa-eye field-icon toggle-password'">
                                                </div>
                                                <div *ngIf="(registrationForm.controls.password.invalid && registrationForm.controls.password.touched) || registrationForm.controls.password.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.password.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small
                                                        *ngIf="registrationForm.controls.password.errors?.invalidPasswordFormat"
                                                        class="text-danger">Minimum nyolc karakter, egy betű, egy szám
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Jelszó mégegyszer</label>
                                                <input id="c_password" [type]="isPasswordVisible ? 'text' : 'password'"
                                                    name="c_password" formControlName="c_password"
                                                    class="form-control form-control-submit"
                                                    [class.is-invalid]="registrationForm.controls.c_password.invalid && registrationForm.controls.c_password.touched"
                                                    placeholder="Jelszó mégegyszer">
                                                <div *ngIf="(registrationForm.controls.c_password.invalid && registrationForm.controls.c_password.touched) || registrationForm.controls.c_password.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.c_password.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small
                                                        *ngIf="registrationForm.controls.c_password.errors?.invalidPasswordFormat"
                                                        class="text-danger">Minimum nyolc karakter, egy betű, egy szám
                                                    </small>
                                                    <small
                                                        *ngIf="!registrationForm.controls.c_password.errors?.minlength && !registrationForm.controls.c_password.errors?.maxlength && registrationForm.errors?.mustMatch"
                                                        class="text-danger">A jelszavak nem egyeznek</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Email</label>
                                                <input id="email" type="text" name="email"
                                                    [class.is-invalid]="registrationForm.controls.email.invalid && registrationForm.controls.email.touched"
                                                    formControlName="email" class="form-control form-control-submit"
                                                    placeholder="Email">
                                                <div *ngIf="(registrationForm.controls.email.invalid && registrationForm.controls.email.touched) || registrationForm.controls.email.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.email.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small *ngIf="registrationForm.controls.email.errors?.pattern"
                                                        class="text-danger">Kérjük adj meg egy valós email címet</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Telefonszám</label>
                                                <input id="phone" type="text" name="phone"
                                                    [class.is-invalid]="registrationForm.controls.phone.invalid && registrationForm.controls.phone.touched"
                                                    formControlName="phone" class="form-control form-control-submit"
                                                    placeholder="Telefonszám">
                                                <div *ngIf="(registrationForm.controls.phone.invalid && registrationForm.controls.phone.touched) || registrationForm.controls.phone.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.phone.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small
                                                        *ngIf="registrationForm.controls.phone.errors?.invalidPhoneFormat"
                                                        class="text-danger">Nem megfelelő telefonszám formátum
                                                        (06301234567)</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Ország</label>
                                                <select id="country" formControlName="country"
                                                    class="form-control form-control-submit custom-select-2 full-width">
                                                    <option value="Hungary" data-name="">Magyarország</option>
                                                </select>
                                                <div *ngIf="(registrationForm.controls.country.invalid && registrationForm.controls.country.touched) || registrationForm.controls.country.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.country.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Irányítószám</label>
                                                <input id="zipcode" type="number" name="zipcode"
                                                    [class.is-invalid]="registrationForm.controls.zipcode.invalid && registrationForm.controls.zipcode.touched"
                                                    formControlName="zipcode" class="form-control form-control-submit"
                                                    placeholder="Irányítószám" min=1000 max=9999>
                                                <div *ngIf="(registrationForm.controls.zipcode.invalid && registrationForm.controls.zipcode.touched) || registrationForm.controls.zipcode.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.zipcode.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small
                                                        *ngIf="registrationForm.controls.zipcode.errors?.min || registrationForm.controls.zipcode.errors?.max"
                                                        class="text-danger">Kérjük adjon meg egy valós
                                                        irányítószámot</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Város</label>
                                                <input id="city" type="text" name="city"
                                                    [class.is-invalid]="registrationForm.controls.city.invalid && registrationForm.controls.city.touched"
                                                    formControlName="city" class="form-control form-control-submit"
                                                    placeholder="Város">
                                                <div *ngIf="(registrationForm.controls.city.invalid && registrationForm.controls.city.touched) || registrationForm.controls.city.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.city.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small *ngIf="registrationForm.controls.city.errors?.minlength"
                                                        class="text-danger">Túl rövid városnév</small>
                                                    <small *ngIf="registrationForm.controls.city.errors?.maxlength"
                                                        class="text-danger">Túl hosszú városnév</small>
                                                </div>
                                                <div *ngIf="(registrationForm.controls.city.invalid && registrationForm.controls.city.touched) || registrationForm.controls.city.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.city.errors?.invalidCityFormat"
                                                        class="text-danger">Nem megfelelő formátum</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Cím</label>
                                                <input id="address" type="text" name="address"
                                                    [class.is-invalid]="registrationForm.controls.address.invalid && registrationForm.controls.address.touched"
                                                    formControlName="address" class="form-control form-control-submit"
                                                    placeholder="Cím">
                                                <div *ngIf="(registrationForm.controls.address.invalid && registrationForm.controls.address.touched) || registrationForm.controls.address.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.address.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small *ngIf="registrationForm.controls.address.errors?.minlength"
                                                        class="text-danger">Túl rövid cím</small>
                                                    <small *ngIf="registrationForm.controls.address.errors?.maxlength"
                                                        class="text-danger">Túl hosszú cím</small>
                                                </div>
                                                <div *ngIf="(registrationForm.controls.address.invalid && registrationForm.controls.address.touched) || registrationForm.controls.address.dirty"
                                                    class="text-right">
                                                    <small *ngIf="registrationForm.controls.address.errors?.invalidAddressFormat"
                                                        class="text-danger">Nem megfelelő formátum</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-center">
                                            <div class="with-check border-0 mb-0">
                                                <input class="form-check-input" type="checkbox" name="privacy"
                                                    (change)="changePrivacy($event.target.checked)" id="privacy"
                                                    value="registrationForm.value.isDataPrivacyAccepted">
                                                <label class="form-check-label" for="cheese-{{i}}">
                                                    Elfogadom az adatkezelési szabályzatot
                                                </label>
                                            </div>
                                            <small
                                                *ngIf="registrationForm.valid && !registrationForm.value.isDataPrivacyAccepted"
                                                class="text-danger">A regisztrációhoz fogadja el az adatvédelmi
                                                szabályzatot</small>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <div class="form-group text-center">
                                                <button class="green-button full-width"
                                                    [disabled]="!registrationForm.value.isDataPrivacyAccepted || !registrationForm.valid"
                                                    (click)="registration()">Regisztráció</button>
                                                <ng-container *ngIf="registrationErrorMessage">
                                                    <div class="col-12 text-center">
                                                        <small class="text-danger">{{registrationErrorMessage}}</small>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="form-group text-center mb-2"> <span>vagy</span></div>
                                            <div class="form-group text-center mb-0">
                                                <p class="text-light-black mb-0">Rendelkezik már felhasználói fiókkal?
                                                    <a routerLink="/login" class="sign-in-link">Bejelentkezés</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>