<ng-container *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</ng-container>

<div class="inner-wrapper">
    <div class="container-fluid no-padding">
        <div class="row no-gutters overflow-auto">
            <div class="col-12">
                <div class="section-2 user-page main-padding">
                    <div class="login-sec">
                        <div class="login-box text-left">
                            <ng-container *ngIf="passwordResetForm">
                                <form [formGroup]="passwordResetForm">
                                    <div class="form-group text-center mb-4">
                                        <a routerLink="/">
                                            <img src="assets/logo/with_logo3.png"
                                                class="img-fluid registration-logo text-center" alt="logo" />
                                        </a>
                                    </div>
                                    <h4 class="text-light-black fw-600 text-center">Új jelszó megadása</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Jelszó</label>
                                                <input id="password" [type]="isPasswordVisible ? 'text' : 'password'"
                                                    name="password" formControlName="password"
                                                    class="form-control form-control-submit"
                                                    [class.is-invalid]="passwordResetForm.controls.password.invalid && passwordResetForm.controls.password.touched"
                                                    placeholder="Jelszó">
                                                <div (click)="toggleShowPassword()"
                                                    *ngIf="passwordResetForm.controls.password.valid"
                                                    [class]="isPasswordVisible ? 'fa fa-fw fa-eye-slash field-icon toggle-password' : 'fa fa-fw fa-eye field-icon toggle-password'">
                                                </div>
                                                <div *ngIf="(passwordResetForm.controls.password.invalid && passwordResetForm.controls.password.touched) || passwordResetForm.controls.password.dirty"
                                                    class="text-right">
                                                    <small *ngIf="passwordResetForm.controls.password.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small
                                                        *ngIf="passwordResetForm.controls.password.errors?.invalidPasswordFormat"
                                                        class="text-danger">Minimum nyolc karakter, egy betű, egy szám
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-light-white fs-14">Jelszó mégegyszer</label>
                                                <input id="c_password" [type]="isPasswordVisible ? 'text' : 'password'"
                                                    name="c_password" formControlName="c_password"
                                                    class="form-control form-control-submit"
                                                    [class.is-invalid]="passwordResetForm.controls.c_password.invalid && passwordResetForm.controls.c_password.touched"
                                                    placeholder="Jelszó mégegyszer">
                                                <div *ngIf="(passwordResetForm.controls.c_password.invalid && passwordResetForm.controls.c_password.touched) || passwordResetForm.controls.c_password.dirty"
                                                    class="text-right">
                                                    <small
                                                        *ngIf="passwordResetForm.controls.c_password.errors?.required"
                                                        class="text-danger">Kötelező mező</small>
                                                    <small
                                                        *ngIf="passwordResetForm.controls.c_password.errors?.invalidPasswordFormat"
                                                        class="text-danger">Minimum nyolc karakter, egy betű, egy szám
                                                    </small>
                                                    <small
                                                        *ngIf="!passwordResetForm.controls.c_password.errors?.minlength && !passwordResetForm.controls.c_password.errors?.maxlength && passwordResetForm.errors?.mustMatch"
                                                        class="text-danger">A jelszavak nem egyeznek</small>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-container *ngIf="successMessage">
                                            <div class="col-12 text-center">
                                                <small class="text-success">{{successMessage}}</small>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="passwordResetErrorMessage">
                                            <div class="col-12 text-center">
                                                <small class="text-danger">{{passwordResetErrorMessage}}</small>
                                            </div>
                                        </ng-container>
                                        <div class="col-12 mt-3">
                                            <div class="form-group text-center">
                                                <button class="green-button full-width"
                                                    [disabled]="!passwordResetForm.valid || successMessage !== '' || passwordResetErrorMessage !== ''"
                                                    (click)="resetPassword()">Mentés</button>
                                            </div>
                                            <div class="form-group text-center mb-2"> <span>vagy</span></div>
                                            <div class="form-group text-center mb-0">
                                                <p class="text-light-black mb-0">
                                                    <a routerLink="/login" class="sign-in-link">Vissza a
                                                        bejelentkezésre</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>