.text-light-green {
  color: #47b272;
}

.addresses {
  max-width: 550px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.with-check .form-check-label {
  max-width: 155px;
}

.pizza-input-price {
  margin-right: 10px !important;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.form-check {
  display: flex;
}

.with-check .form-check-input {
  margin-top: auto;
  margin-bottom: auto;
}

.background-grey {
  background-color: #ececec;
}

.font-12 {
  font-size: 12px;
}

.no-order {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  padding: 25px;
  margin-top: 55px;
}

.no-order-description {
  padding: 12px;
  text-align: center;
  margin-bottom: 55px;
}

.cat-product-box {
  .price {
    width: 100px;
    text-align: center;
  }
}

.closed {
  margin-top: 10px;
}

.page-banner {
  @media (max-width: 767px) {
    margin-top: 60px;
  }
}