<div class="inner-wrapper">
    <div class="container-fluid no-padding">
        <div class="row no-gutters overflow-auto">
            <div class="col-md-6">
                <div class="main-banner">
                    <img src="assets/img/banner/banner-4.jpg" class="img-fluid full-width main-img" alt="banner">
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-2 user-page main-padding">
                    <div class="login-sec">
                        <div class="login-box">
                            <form [formGroup]="loginForm">
                                <div class="form-group text-center mb-4">
                                    <a routerLink="/">
                                        <img src="assets/logo/with_logo3.png" class="img-fluid login-logo text-center"
                                            alt="logo" />
                                    </a>
                                </div>
                                <h4 class="text-light-black fw-600 text-center">Bejelentkezés felhasználói fiókkal</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="text-light-white fs-14">Email</label>
                                            <input id="email" type="email" name="email" formControlName="email"
                                                class="form-control form-control-submit"
                                                [class.is-invalid]="loginForm.controls.email.invalid && loginForm.controls.email.touched"
                                                placeholder="Email">
                                            <div *ngIf="(loginForm.controls.email.invalid && loginForm.controls.email.touched) || loginForm.controls.email.dirty"
                                                class="text-right">
                                                <small *ngIf="loginForm.controls.email.errors?.required"
                                                    class="text-danger">Kötelező mező</small>
                                                <small *ngIf="loginForm.controls.email.errors?.pattern"
                                                    class="text-danger">Kérjük adj meg egy valós email címet</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-light-white fs-14">Jelszó</label>
                                            <input id="password" [type]="isPasswordVisible ? 'text' : 'password'"
                                                name="password" formControlName="password"
                                                class="form-control form-control-submit"
                                                [class.is-invalid]="loginForm.controls.password.invalid && loginForm.controls.password.touched"
                                                placeholder="Jelszó">
                                            <div (click)="toggleShowPassword()"
                                                *ngIf="loginForm.controls.password.valid"
                                                [class]="isPasswordVisible ? 'fa fa-fw fa-eye-slash field-icon toggle-password' : 'fa fa-fw fa-eye field-icon toggle-password'">
                                            </div>
                                            <div *ngIf="(loginForm.controls.password.invalid && loginForm.controls.password.touched) || loginForm.controls.password.dirty"
                                                class="text-right">
                                                <small *ngIf="loginForm.controls.password.errors?.required"
                                                    class="text-danger">Kötelező mező</small>
                                                <small *ngIf="loginForm.controls.password.errors?.invalidPasswordFormat"
                                                    class="text-danger">Minimum nyolc karakter, egy betű, egy szám
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-12 text-center">
                                            <small *ngIf="errorMsg" class="text-danger">{{errorMsg}}</small>
                                        </div>
                                        <div class="form-group text-right">
                                            <a routerLink="/password-forgot" class="link">Elfelejtetted a jelszavad?</a>
                                        </div>
                                        <div class="form-group">
                                            <button class="green-button full-width"
                                                (click)="login()">Bejelentkezés</button>
                                        </div>
                                        <div class="form-group text-center mb-0">
                                            <a routerLink="/registration" class="link">Felhasználói fiók létrehozása</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>